body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1450px !important;
  }
}

.app-container {
  .header-container {


    .btn-login {
      border-radius: 10px;
      background: transparent;
      border-width: initial;
      border-style: none;
      padding: 8px 10px;
    }


    .btn-signup {
      padding: 8px 16px;
      border-radius: 10px;
      background: rgb(25, 25, 25);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(25, 25, 25);
      border-image: initial;
      color: white;

      &:hover {
        background-color: rgba(25, 25, 25, 0.8);
      }
    }

    .navbar {
      padding-top: 20px;
      opacity: 1;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: pink;
        }
      }
    }
  }

  .main-container {
    .homepage-container {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      padding-right: 7px;
      padding-left: 46px;
      // overflow: hidden;

      video {
        width: 60%;
        align-items: center;
        justify-content: center;
        overflow: hidden;

      }

      .homepage-content {
        text-align: left;
        align-items: flex-start;


        display: flex;
        justify-content: center;
        flex-direction: column;

        .title-1 {
          font-size: 80px;
          line-height: 1;
          color: rgb(25, 25, 25);
        }

        .title-2 {
          text-wrap: balance;
          margin-top: 32px;
          font-size: 20px;

        }

        .title-3 {
          .btn-getstart {
            margin-top: 32px;
            padding: 8px 16px;
            border-radius: 10px;
            background: rgb(25, 25, 25);
            border-width: 1px;
            border-style: solid;
            border-color: rgb(25, 25, 25);
            border-image: initial;
            color: white;
            font-size: 18px;

            &:hover {
              background-color: rgba(25, 25, 25, 0.8);
            }
          }
        }
      }
    }
  }
}